/* Fiok.css */
.account-settings {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  .sidebar {
    width: 250px;
    padding: 20px;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    text-align: left;
  }
  .sidebar ul .active {
    font-weight: bold;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .content {
    padding: 20px;
    border: 2px solid #2F2F2F;
    border-radius: 1vh;
    box-shadow: 0 0 10px;
    margin: 20px;
    width: 30%;
    background: white; /* Háttérszín */
  }
  h1, h2 {
    margin-bottom: 10px;
  }
  input, select {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border-radius: 7px;
  }
  /* Fiok.css vagy egy új stílusfájl */
.rounded-image {
  border-radius: 50%; /* Teljes kör alak */
  width: 100px; /* Egységes méret, ha szükséges */
  height: 100px; /* Egységes méret, ha szükséges */
  object-fit: cover; /* Biztosítja, hogy a kép kitöltse a kört */
}
.sidebar a {
  pointer-events: auto; /* Engedélyezzük a kattintást */
  text-decoration: none;
  color: inherit;
}
.big-container {
  background-color: white;
  width: 84%;
  height: 80%;
  display: flex;
  justify-content: left; /* Középre igazítás */
  flex-grow: 1;
  position: relative;
}