.footer-container {
    background-color: #00c4cc;
    color: black;
    padding: 10px 0;
    width: 100%;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Reszponzív viselkedés biztosítása */
    justify-content: center; /* Szöveg középre */
    align-items: center;
    padding: 0 20px;
    position: relative; /* Pozíció beállítása */
}

.footer-text {
    text-align: center;
    flex: 1; /* A szöveg szépen középen marad */
    
}


.footer-text p {
    margin: 0;
    font-size: 20px;
   
}

.footer-social {
    display: flex;
    gap: 15px;
    position: absolute;
    right: -25%; /* Jobb szélre igazítás */
}

/* Közösségi ikonok */
.social-icon {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.social-icon:hover {
    opacity: 0.7;
}

/* Reszponzív stílusok */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        position: static; /* Mobilon ne legyen absolute a social div */
    }
    
    .footer-social {
        justify-content: center;
        margin-top: 15px;
        position: static; /* Mobilon középre helyezi az ikonokat */
    }
}