.image-container {
  position: relative;
  width: 100%;
  height: 400px; /* Automatikus magasság */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.faded-image {
  width: 100%;
  height: auto; /* Automatikus méretezés */
  object-fit: contain; /* A teljes kép látszódjon */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  filter: brightness(1.1);
}

