.image-container {
  position: relative;
  height: 100%;
  max-height: 2000px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.faded-image {
  width: 100%;
  height: auto; 
  object-fit: contain;
}