.cim{
    font-size: 24px;
    padding-top: 10px;
  }
  
  p {
    font-size: 20px; 
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(7px);
  }
  
  .split-container {
    width: 84%;
    height: 80%;
    display: flex;
    justify-content: center; /* Középre igazítás */
    flex-grow: 1;
    position: relative;
    gap: 50px; /* Kis térköz a panelek között */
  }
  
  /* Szürke csík a két panel között */
  .split-container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    
  }
  
  .left-panel {
    width: 45%; /* Szélesebb: 40% -> 45% */
    border: 2px solid #2F2F2F; /* Keret színe: black -> #2F2F2F */
    border-radius: 1vh; /*Lekerekített keret */
    box-shadow: 0 0 10px;
    text-align: center;
    overflow-y: auto; /*Görgethető lesz függőlegesen */
    background-color: #ECFFFF; /* Háttérszín megerősítése */
    color: black;
    height: 630px;
  }
  
  .right-panel {
    width: 45%; /* Szélesebb: 40% -> 45% */
    border: 2px solid #2F2F2F; /* Keret színe: black -> #2F2F2F */
    border-radius: 1vh;
    box-shadow: 0 0 10px;
    text-align: center;
    overflow-y: auto; /*Görgethető lesz függőlegesen */
    background-color: #ECFFFF; /* Háttérszín megerősítése */
    color: black;
    height: 630px;
  }
  .bejovoText{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }
  .sajatText{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }
  
  /* A posztok szövegei is fehérek legyenek */
  .poszt {
    color: black;
    background-color: white;
    margin: 20px;
    border-radius: 1vh;
  }
  
  /* Gombok szövege is fehér legyen */
  .accept-button,
  .reject-button,
  .cancel-button {
    color: black;
    background-color: lightblue;
    width: 85%;
    margin-bottom: 10px;
  }
  .reject-button:hover{
    background-color: lightcoral;
  }
  .cancel-button:hover{
    background-color: lightcoral;
  }
  