body{
    background-image: url("../../assets/hatterkep1.png");
    width: 100%;
    height: 100%; 
    object-fit: cover; /* Kitölti a konténert */
}
.split-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:space-around;
    flex-grow: 1;
}
.left-panel{
    backdrop-filter: blur(20px); /*elhomályosítja a hátteret */
    color: white;
    width: 30%;
    border: black 3px solid;
    border-radius: 0.5vh;
    text-align: center;
    overflow-y: auto; /* Engedélyezett függőleges görgetés */

}
.right-panel{
    background-color: white;
    width: 30%;
    border: black 3px solid;
    border-radius: 0.5vh;
    text-align: center;
    overflow-y: auto; /* Engedélyezett függőleges görgetés */
}