#flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu-left{
  list-style: none;
  text-align: left;
}

.nav-menu-right{
  list-style: none;
}

#navbar-text {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, sans-serif;
}

.logo-img1{
  width: 100%;
  max-width: 99px;
  height: auto;
}

.logo-img2{
  width: 100%;
  max-width: 60px;
  height: auto;
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 15%; 
  transform: translateX(-50%); 
  background-color: white;
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  z-index: 9999;
  text-align: center; 
}


.dropdown-content li {
  padding: 8px 16px;
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  right: 0; 
}

@media (max-width: 768px) {
  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    z-index: 9999;
    text-align: center; 
}

  
  .dropdown-content li {
    padding: 8px 16px;
  }
  
  .dropdown-content li a {
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content li:hover {
    background-color: #f1f1f1;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    right: 0; 
  }
  
  @media (max-width: 768px) {
    .dropdown-content {
      left: auto;
      right: 0;
    }
  }
  
}