/* Navbar.css */

/* Alapértelmezett stílus minden oldalon */
#flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent !important;
  z-index: 1000;
  padding: 0px 0;
  /* Eltávolítjuk a height: 80px-t, hogy a tartalom határozza meg a magasságot */
}
.home-navbar #flex-container {
  background-color: white !important;
}
/* Home oldalon fekete háttér és fehér szöveg */
.home-navbar #flex-container {
  background-color: white !important; /* Fekete háttér a Home oldalon */
}

/* Szövegek fehérre állítása a Home oldalon */
.home-navbar #navbar-text,
.home-navbar .nav-menu-left a,
.home-navbar .nav-menu-right a {
  color: black !important;
}

/* Dropdown tartalom a Home oldalon */
.home-navbar .dropdown-content {
  background-color: white;
}

.home-navbar .dropdown-content li a {
  color: white;
}

.home-navbar .dropdown-content li:hover {
  background-color: white;
}

/* Egyéb stílusok */
.nav-menu-left {
  list-style: none;
  text-align: left;
}

.nav-menu-right {
  list-style: none;
}

#navbar-text {
  font-size: 25px;
  font-weight: bold;
  right: auto;
  font-family: Arial, sans-serif;
  color: white; /* Alapértelmezett fekete */
}

.logo-img1 {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.logo-img2 {
  width: 100%;
  max-width: 60px;
  height: auto;
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: white;
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  z-index: 9999;
  text-align: center;
}

.dropdown-content li {
  padding: 8px 16px;
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .dropdown-content {
    left: auto;
    right: 0;
  }
}