.premium-container {
  color: black;
  padding: 40px;
  text-align: center;
  min-height: 80vh; 
  border: 2px solid #2F2F2F;
  border-radius: 1vh;
  box-shadow: 0 0 10px;
  margin-left: 50px;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 20px;
}
.premium-container h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}
.premium-container p {
  margin-bottom: 40px;
  font-size: 20px;
  color: black;
}
.plans-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
}

.plan-card {
  background-color: #f5f5f5; 
  color: #000; 
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0; 
  transform: translateY(50px); 
  animation: slideUp 0.5s ease-out forwards; 
}


.plan-card:nth-child(1) {
  animation-delay: 0.2s; 
}

.plan-card:nth-child(2) {
  animation-delay: 0.4s;
}


.plan-card.highlighted {
  background-color: #00c4cc; 
  color: #fff; 
}

.plan-card h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-card h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.plan-card h3 span {
  font-size: 1rem;
  font-weight: normal;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-card ul li {
  margin: 10px 0;
}

.plan-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.plan-button:hover {
  background-color: #333;
}


@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(50px); 
  }
  to {
      opacity: 1;
      transform: translateY(0); 
  }
}
.big-container {
  background-color: #2F2F2F; 
  width: 84%;
  height: 80%;
  display: flex;
  justify-content: center; 
  flex-grow: 1;
  position: relative;
  gap: 50px; 
}
.sidebar {
  width: 250px;
  padding: 20px;
  
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  text-align: left;
}
.sidebar ul .active {
  font-weight: bold;
}
.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}