.regisztracio-container {
  position: relative;
  width: 100%;
  height: 100%; /* A teljes magasság */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-image: url('/jo.png'); /* A háttérkép beállítása */
  background-size: cover; /* Kép kitöltése */
  background-position: center; /* Kép középre igazítása */
  background-attachment: fixed; /* Kép ne mozogjon görgetéskor */

  
}
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* A háttérkép ne mozduljon, ha görgetsz */
  height: 100%; /* A test teljes magasságát kitölti */
  

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.5); /* Elhomályosított háttér */
}

.regisztracio-form {
  position: relative;
  background: rgba(255, 255, 255, 0.8); /* Fehér háttér átlátszó réteg */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  z-index: 2; /* A form mindig a háttér előtt */
  backdrop-filter: blur(10px);
  background: transparent;
  color: white;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.required {
  color: red;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
}

.error-message, .success-message {
  color: red;
  margin-bottom: 15px;
}

.bejelentkezes-link p {
  margin-top: 20px;
}
