/* Az egész oldalra vonatkozó háttérkép */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover; /* Töltsön ki mindent */
  background-position: center; /* A kép középre igazítása */
  background-attachment: fixed; /* A háttérkép ne mozduljon görgetéskor */
}

/* Regisztrációs konténer háttérképének beállítása */
.regisztracio-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Teljes magasságot foglal el */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/jo.png'); /* A háttérkép beállítása */
  background-size: cover; /* Kép kitöltése */
  background-position: center; /* Kép középre igazítása */
  background-attachment: fixed; /* Kép ne mozogjon görgetéskor */
}

/* Az overlay réteg beállítása */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.5); /* Elhomályosított háttér */
}

/* Regisztrációs form beállítása */
.regisztracio-form {
  position: relative;
  background: rgba(255, 255, 255, 0.2); /* Enyhén átlátszó fehér háttér */
  backdrop-filter: blur(10px); /* Elmosás effekt */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  color: white;
}
.regisztracio-form input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  backdrop-filter: blur(5px); /* Input mezők hátterének elmosása */
  background: rgba(255, 255, 255, 0.2);
  color: black;
}
/* További stílusok maradnak */


.regisztracio-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.required {
  color: red;
}

button {
  width: 100%;
  padding: 10px;
  background-color: lightblue;
  color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: white;
}

.success-message {
  color: green;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

/* Bejelentkezési link a regisztrációs oldalon */
.bejelentkezes-link a {
  color: lightblue; /* Például piros szín */
  text-decoration: none; /* Eltávolítja az aláhúzást */
}

.bejelentkezes-link a:hover {
  color: lightblue; /* Például egy másik szín a hover hatásra */
  text-decoration: underline;
}
